---
---
$font-stack: Verdana, Tahoma, Helvetica, sans-serif;
$title-font-stack: Trebuchet, Trebuchet MS, Helvetica, sans-serif;

$break-small: 360px;
$break-medium: 390px;
$break-full: 600px;

body {
  font-family: $font-stack;
  background: white;
  max-width: 500px;
  margin: 0px auto;
  display: block;
  padding: 15px;

}
p {
  font-size: 10.5pt;
  line-height: 19pt;
}



a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: grey;
  text-decoration: none;
}

.date {
  font-family: $font-stack;
  font-size: 10pt;
  font-weight: normal;
  letter-spacing: 0;

}

header {
  margin: 50px 0 100px 0;
  display: block;
  height: 25px;

  @media screen and (min-width:$break-small) {
    height: 38px;
  }

  @media screen and (min-width:$break-medium) {
    height: 45px;
  }

  @media screen and (min-width:$break-full) {
    height: 55px;
    margin: 120px 0 120px 0;
  }


  img.logo {
    height: 100%;

    float: left;
    margin: 0 9px 0 0;

    @media screen and (min-width:$break-full) {
      margin: 0 15px 0 0;
    }

  }

  nav {
    display: block;
    height: 100%;


      div {
        margin: 0px;
        display: flex;
        align-items: center;
        height: 100%;
      }

      p {
        margin: 0px;
      }

    a {
      font-size: 9pt;
      height: 100%;
      @media screen and (min-width:$break-full) {
        font-size: 11pt;
        }
      }



  }

}

main {
  display: block;

  .break-marks {
    text-align: center;
    font-size: 15pt;
  }

  h2 {
    font-size: 15pt;
    font-weight: normal;
    text-indent: -20pt;
    padding-left: 20pt;
    line-height: 17pt;
    font-family: $title-font-stack;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;

      @media screen and (min-width:$break-full) {
        margin-bottom: 30px;
      }
  }


  img {
    width: 100%;
    margin: 0px;
  }

  img.sig {
    max-width: 30px;
    position: relative;
    bottom: -8px;
  }

  article{
    margin: 50px 0 40px 0;

  }
  article.feature {
    text-indent: 1.5em;


  }

  article.aside {
    text-indent: 0;
  }

  .aside-bnjmn {
    font-weight: bold;
    font-family: $title-font-stack;
  }

  article.image {
    .img-caption {
      margin: 0 0 15px 0;
      font-style: italic;
      font-weight: lighter;
      padding-right: 1.5em;
      text-align: right;
    }
    .image-title {
      font-family: $title-font-stack;
      font-weight: bold;
      text-transform: uppercase;
    }
    p {
      text-indent: 1em;
      margin: 0;
    }
  }

  article.link {
    h3 {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 12pt;
      text-indent: -15px;
      padding-left: 15px;
      font-family: $title-font-stack;
      line-height: 16pt;
    }
    a:link {
      text-decoration: underline;
    }
    a:hover {
      color: grey;
      text-decoration: none;

    }

    p {
      text-indent: 1.5em;
    }

  }


}

footer {
  text-align: center;
  font-size: 9pt;
}
