<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" media="screen">
    <link rel="apple-touch-icon" sizes="180x180" href="/fav-pack/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fav-pack/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fav-pack/favicon-16x16.png">
<link rel="manifest" href="/fav-pack/site.webmanifest">
<link rel="mask-icon" href="/fav-pack/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <title>BNJMN &mdash; {{ page.title }}</title>
  </head>
  <body>
    <div class="page-wrapper">
      {% include header.html %}
      <main class="secondary-page">
        {% include get-archive-nav.html %}
	  {{ content }}
        {% include get-pagination.html %}
      </main>
    </div>
      {% include footer.html %}
  </body>
</html>
